    <%- include('parts/top.ejs') %>
    <br><br><br><br>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <style>
            body {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);


            }

            * {
                transition: all .2s ease-in-out;
            }





            .allBills {
                position: relative;
                width: 100%;
                background-color: #343a40 !important;
                z-index: 1;
                border-top: 5px solid blue;
                margin-top: 5px;

            }

            .divBillsAndImg {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;


            }

            .onlyDivBills {
                width: 50%;
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 10px;
                font-size: 20px;

            }

            .electricity,
            .water,
            .phone,
            .net,
            .otherBills,
            .clothes,
            .food,
            .padget {
                width: 100%;
                height: 70px;
                position: relative;
                border-bottom: 1px solid white;
                border-right: 1px solid white;
                margin-top: 50px;
            }

            .electricity span,
            .water span,
            .phone span,
            .net span,
            .otherBills span,
            .clothes span,
            .padget span,
            .food span {
                color: white;
                position: absolute;
                margin-left: 10px;
                margin-top: 15px;
            }
            .padget span{
                font-size: 22px;
            }
            .padgeText{
                color:#fff
            }
            .padgeText:focus{
                border-bottom-color: #17224D;
                color:aqua
            }

            .onlyImg {
                width: 50%;
                position: relative;
                padding: 10px;

            }

            @media only screen and (max-width:850px) {
                .onlyImg {
                    display: none;
                }

                .onlyDivBills {
                    width: 90%;
                }
            }

            .contcat {
                width: 100%;
                position: relative;
                padding: 15px;
                background-repeat: no-repeat;
                flex-direction: row;
                justify-content: space-around;
                background-color: #17224D;
                border-radius: 2%;
                -webkit-perspective: 800;
                -webkit-perspective-origin: 50% 200px;
                -moz-perspective: 800;
                -moz-perspective-origin: 50% 200px;
            }

            .cubes {
                display: flex;
                width: 100%;
                position: relative;
            }

            .cube {
                position: relative;
                margin: 100px auto 0;
                height: 300px;
                width: 300px;
                -webkit-transition: -webkit-transform .5s linear;
                -webkit-transform-style: preserve-3d;

                -moz-transition: -moz-transform .5s linear;
                -moz-transform-style: preserve-3d;
            }

            .face {
                position: absolute;
                text-align: center;
                height: 200px;
                width: 300px;
                padding: 5px;
                font-size: 15px;
                line-height: 1em;
                color: #fff;
                border: 1px solid #555;
                border-radius: 3px;
                padding-top: 7px;
            }

            .cube .front {
                -webkit-transform: translateZ(150px);
                -moz-transform: translateZ(150px);
                background-color: #343a40;
            }

            .cube .side {
                -webkit-transform: rotateY(-90deg) translateZ(150px);
                -moz-transform: rotateY(-90deg) translateZ(150px);
                background-color: #555;
                line-height: 30px;
                padding: 5px;
            }

            .cube .side .connection {
                margin-top: 20px;
                width: 80%;

            }

            .cube:hover {
                -webkit-transform: rotateY(90deg);
            }

            .lastP {
                line-height: 20px;
            }

            @media(max-width:716px) {
                .cubes {
                    display: block;
                }
            }

            .contact_header {
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 25px;
                font-weight: bold;
                height: auto;
                position: absolute;
            }

            .about_website {
                max-width: 500px;
                color: whitesmoke;
                font-size: 20px;
                font-weight: 400;
                font-family: Arial, Helvetica, sans-serif;
                position: relative;
                left: 50%;
                padding: 1px;
                margin-left: -250px;
                margin-top: -50px;
            }

            .about_website:first-letter {
                font-size: 30px;

            }

            .about_website strong {
                font-size: 30px;
                color: red;
            }

            .user_name {
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                margin-right: 30px;
                font-weight: 600;
            }

            .img_bill {
                color: dodgerblue;
            }

            .moverow {
                animation: rowanimation 1s infinite;
                transition: .5s all ease-in-out;
            }

            .moverow1 {
                animation: rowanimation1 1s infinite;
                transition: .5s all ease-in-out;
            }

            .moverow2 {
                animation: rowanimation2 1s infinite;
                transition: .5s all ease-in-out;
            }

            .moverow3 {
                animation: rowanimation3 1s infinite;
                transition: .5s all ease-in-out;
            }

            .moverow4 {
                animation: rowanimation4 1s infinite;
                transition: .5s all ease-in-out;
            }
            .moverow5 {
                animation: rowanimation5 1s infinite;
                transition: .5s all ease-in-out;
            }


            @keyframes rowanimation {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(150%);
                }

                100% {
                    transform: translateX(0);

                }
            }

            @keyframes rowanimation1 {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(150%);
                }

                100% {
                    transform: translateX(0);

                }
            }

            @keyframes rowanimation2 {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(150%);
                }

                100% {
                    transform: translateX(0);

                }
            }

            @keyframes rowanimation3 {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(150%);
                }

                100% {
                    transform: translateX(0);

                }
            }

            @keyframes rowanimation4 {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(150%);
                }

                100% {
                    transform: translateX(0);

                }
            
            }

            @keyframes rowanimation5 {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(150%);
                }

                100% {
                    transform: translateX(0);

                }
            
            }
        </style>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="{{ mix('css/app.css') }}">
        <link href="https://fonts.bunny.net/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        <title>YourBills</title>
    </head>

    <body>
        <div class="allBills">
            <div class="divBillsAndImg">
                <div class="onlyDivBills">
                    <a class="electricity" onmouseover="onit()" onmouseleave="leaveit()" href="/elect">

                        <span><svg style="width:50px ;height:40px; margin-top:-2px; color:yellow"
                                xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z">
                                </path>
                            </svg>
                            Electricity Bills&nbsp;<svg style="width: 30px; height:30px;"
                                xmlns="http://www.w3.org/2000/svg" class="moveto h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg> </span>
                    </a><br>

                    <a class="water" onmouseover="onit1()" onmouseleave="leaveit1()" href="/water">

                        <span><svg style="width: 30px; height:30px; color:blue" xmlns="http://www.w3.org/2000/svg"
                                class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z"
                                    clip-rule="evenodd"></path>
                            </svg>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Water Bills &nbsp; <svg style="width: 30px; height:30px"
                                xmlns="http://www.w3.org/2000/svg" class="moveto h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg></span>
                    </a><br>
                    <a class="phone" onmouseover="onit2()" onmouseleave="leaveit2()"
                        href="/phone">
                        <span><svg style="width: 50px; height:40px;margin-top:-2px; color:smoke"
                                xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
                                </path>
                            </svg>&nbsp;&nbsp;&nbsp;Phone Bills &nbsp; <svg style="width: 30px; height:30px"
                                xmlns="http://www.w3.org/2000/svg" class="moveto h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg> </span>
                    </a><br>
                    <a class="net" onmouseover="onit3()" onmouseleave="leaveit3()" href="/net">
                        <span><svg style="width: 50px; height:40px;margin-top:-2px; color:blue"
                                xmlns="http://www.w3.org/2000/svg" class=" h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M17.778 8.222c-4.296-4.296-11.26-4.296-15.556 0A1 1 0 01.808 6.808c5.076-5.077 13.308-5.077 18.384 0a1 1 0 01-1.414 1.414zM14.95 11.05a7 7 0 00-9.9 0 1 1 0 01-1.414-1.414 9 9 0 0112.728 0 1 1 0 01-1.414 1.414zM12.12 13.88a3 3 0 00-4.242 0 1 1 0 01-1.415-1.415 5 5 0 017.072 0 1 1 0 01-1.415 1.415zM9 16a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>&nbsp;&nbsp;&nbsp;Net Bills&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <svg
                                style="width: 30px; height:30px" xmlns="http://www.w3.org/2000/svg"
                                class="moveto h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg> </span>
                    </a><br>
                    <a class="clothes" onmouseover="onit4()" onmouseleave="leaveit4()"
                        href="/clothes">
                        <span><svg xmlns="http://www.w3.org/2000/svg" style="width: 50px; height:40px;margin-top:-2px; color:lightblue" viewBox="0 0 32 32" id="Shirt"><path d="M28.664 32H3.336A3.34 3.34 0 0 1 0 28.664V7.271a3.34 3.34 0 0 1 3.336-3.336h3.32a1 1 0 0 1 .717.302l5.838 5.998 1.922-3.34c.357-.62 1.377-.62 1.734 0l1.922 3.34 5.838-5.998a1 1 0 0 1 .717-.302h3.32A3.34 3.34 0 0 1 32 7.27v21.393A3.34 3.34 0 0 1 28.664 32zM3.336 5.935C2.599 5.935 2 6.534 2 7.27v21.393C2 29.401 2.6 30 3.336 30h25.328c.737 0 1.336-.6 1.336-1.336V7.271c0-.737-.6-1.336-1.336-1.336h-2.898L19.3 12.579a1 1 0 0 1-1.583-.2L16 9.4l-1.715 2.98a1 1 0 0 1-1.584.2L6.234 5.935H3.336z" fill="#25a2d0" class="color000000 svgShape"></path><path d="M16 8.394a.998.998 0 0 1-.643-.234L7.738 1.766A1 1 0 0 1 8.381 0h15.238a.999.999 0 0 1 .643 1.766l-7.62 6.394a.998.998 0 0 1-.642.234zM11.128 2 16 6.088 20.872 2h-9.744z" fill="#25a2d0" class="color000000 svgShape"></path><path d="M13.418 12.881c-.268 0-.527-.108-.717-.302L5.94 5.632a1.001 1.001 0 0 1-.2-1.099L7.466.6A1 1 0 0 1 9.023.234l7.62 6.393a1 1 0 0 1 .224 1.265l-2.582 4.488a1 1 0 0 1-.867.501zM7.842 4.72l5.37 5.515 1.503-2.614-5.954-4.997-.92 2.096z" fill="#25a2d0" class="color000000 svgShape"></path><path d="M18.582 12.881a1 1 0 0 1-.867-.501l-2.582-4.488a1 1 0 0 1 .224-1.265l7.62-6.393a.998.998 0 0 1 1.558.365l1.725 3.934c.163.373.085.807-.199 1.1l-6.762 6.946c-.19.194-.449.302-.717.302zm-1.297-5.26 1.504 2.614 5.37-5.515-.92-2.096-5.954 4.997zm3.879 6.35v4.58a3.412 3.412 0 0 0 6.824 0v-4.58h-6.824z" fill="#25a2d0" class="color000000 svgShape"></path><circle cx="16" cy="13.971" r="1" fill="#25a2d0" class="color000000 svgShape"></circle><circle cx="16" cy="18.314" r="1" fill="#25a2d0" class="color000000 svgShape"></circle><circle cx="16" cy="22.657" r="1" fill="#25a2d0" class="color000000 svgShape"></circle><circle cx="16" cy="27" r="1" fill="#25a2d0" class="color000000 svgShape"></circle>
                        </svg>
                            &nbsp;&nbsp;&nbsp;Clothing Bills&nbsp;&nbsp; <svg style="width: 30px; height:30px"
                                xmlns="http://www.w3.org/2000/svg" class="moveto h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg> </span>
                    </a><br>


                    <a class="food" onmouseover="onit5()" onmouseleave="leaveit5()" href="/food">
                        <span><img src="/food.png" width="40px" height="40px" alt="">&nbsp;&nbsp;&nbsp;Food Bills&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <svg
                                style="width: 30px; height:30px" xmlns="http://www.w3.org/2000/svg"
                                class="moveto h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg> </span>
                    </a><br>
                    

                    <a class="otherBills" onmouseover="onit4()" onmouseleave="leaveit4()"
                        href="/other">
                        <span><svg style="width: 50px; height:40px;margin-top:-2px; color:lightblue"
                                xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>&nbsp;&nbsp;&nbsp;Other Bills&nbsp;&nbsp; <svg style="width: 30px; height:30px"
                                xmlns="http://www.w3.org/2000/svg" class="moveto h-10 w-10" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                                <path fill-rule="evenodd"
                                    d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg> </span>
                    </a><br>

                    
                </div>
                <div class="onlyImg"> <img src="/—Pngtree—electronic payment bill stereo illustration_5049173.png"
                        alt="" width="100%" height="100%"> </div>
            </div>


        </div>
        <%- include('parts/bottom.ejs') %>
            <script>



                var onit = () => {
                    document.getElementsByClassName("moveto")[0].classList.add("moverow")
                }
                var onit1 = () => {
                    document.getElementsByClassName("moveto")[1].classList.add("moverow1")
                }
                var onit2 = () => {
                    document.getElementsByClassName("moveto")[2].classList.add("moverow2")
                }
                var onit3 = () => {
                    document.getElementsByClassName("moveto")[3].classList.add("moverow3")
                }
                var onit4 = () => {
                    document.getElementsByClassName("moveto")[4].classList.add("moverow4")
                }
                var onit5 = () => {
                    document.getElementsByClassName("moveto")[5].classList.add("moverow5")
                }
                var leaveit = () => {
                    document.getElementsByClassName("moveto")[0].classList.remove("moverow")
                }
                var leaveit1 = () => {
                    document.getElementsByClassName("moveto")[1].classList.remove("moverow1")
                }
                var leaveit2 = () => {
                    document.getElementsByClassName("moveto")[2].classList.remove("moverow2")
                }
                var leaveit3 = () => {
                    document.getElementsByClassName("moveto")[3].classList.remove("moverow3")
                }
                var leaveit4 = () => {
                    document.getElementsByClassName("moveto")[4].classList.remove("moverow4")
                }
                var leaveit5 = () => {
                    document.getElementsByClassName("moveto")[5].classList.remove("moverow5")
                }

            </script>

    </body>

    </html>